@use "sass:map";
@use "sass:math";
@use "../variables";
@use "../mixins/shadows";
@use "../mixins/variants";
@use "../vendor/tabler-icons";

.drdn {
  position: relative;

  &.expanded {
    > .drdn-content {
      display: block;
    }
  }

  &-trigger {
    display: inline-flex;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    min-height: 36px;
  }

  &-content {
    display: none;
    position: absolute;
    z-index: 1002;
    top: 38px;
    right: 0;
    min-width: 160px;
    overflow: hidden;
    border: 1px solid #dcdfe5;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
  }

  &-items {
    max-height: 400px;
    overflow: auto;
    color: variables.$gray-600;

    &:empty {
      border: 0;
    }

    &.selection {
      > a,
      > span {
        @include variants.ti-icon-style;
      }

      > .selected {
        span {
          @include variants.ti-icon-style;

          &::before {
            @include variants.ti-icon-variant(tabler-icons.$ti-icon-check);

            margin-right: math.div(variables.$btn-padding-horizontal-small, 2);
            color: variables.$green;
          }
        }

        &:hover span {
          &::before {
            color: variables.$component-active-color;
          }
        }
      }
    }

    > * {
      display: block;
      margin: 1px;
      padding: (variables.$btn-padding-vertical - 1px)
        (variables.$btn-padding-horizontal-small - 1px);
      border-radius: variables.$border-radius-base - 1px;
    }
  }
}

.contextual {
  .drdn-items {
    padding: 8px;

    a {
      display: block;
      padding: 8px;
      border-radius: 6px;

      &:hover {
        background-color: #f6f6f6;
      }
    }
    a,
    span {
      font-size: 14px;
      line-height: 20px;
      color: #333;
      margin: 0;
    }
  }

  &:not(.journal-actions) > .drdn {
    &.expanded {
      > .drdn-trigger {
        background-color: #f1f2f4;
      }
    }

    .drdn-trigger {
      padding: 7px 9px;
      border-radius: 6px;
      border: 1px solid #dcdfe5;
      background-color: #fafbfc;
      color: #a2a2a2;
      &:hover {
        background-color: #f1f2f4;
      }
    }
  }
}
