@use "../variables";

// Pagination (multiple pages)

.pagination {
  li {
    list-style: none;
  }
}

p.pagination {
  margin-bottom: 0;
  float: left;

  + h1,
  + h2,
  + h3,
  + h4,
  + h5,
  + h6 {
    clear: both;
  }
}
