@use "jniuiColorSet" as *;
@use "font-icon" as *;
#main {
  #sidebar-switch-panel {
    right: 16px;
    width: 32px;
    height: 32px;
    border: 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    left: auto;
    top: 16px;
  }

  #sidebar-switch-button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      display: none;
    }
    &:after {
      content: "\ea02";
      font-family: "icomoon";
      color: $gray;
      font-size: 24px;
      line-height: 1;
    }
  }
}
