@use "jniuiColorSet" as *;
@use "font-icon" as *;

@mixin profileImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 4px;
  display: inline-flex;
}

@mixin profileImageSmall {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 4px;
  display: inline-flex;
}

@mixin defaultFontFamily {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji" !important;
}

a {
  color: initial;
  &:hover {
    color: initial;
  }
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  display: inline-block;
  border-radius: 6px;
  background-color: $text;
  font-size: 13px;
  line-height: 18px;
  color: $white;
  padding: 7px 8px;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $textHover;
    text-decoration: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    opacity: 0.65;
    box-shadow: none;
    pointer-events: none;
  }
}

input.autocomplete {
  width: 100%;
  margin-top: 12px;
  display: block;
  background-image: url("data:image/svg+xml;utf8,<svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M7.0002 1.2002C3.79694 1.2002 1.2002 3.79694 1.2002 7.0002C1.2002 10.2034 3.79694 12.8002 7.0002 12.8002C8.31347 12.8002 9.5248 12.3637 10.497 11.6279L13.7681 14.8989L14.8994 13.7676L11.6283 10.4965C12.3639 9.52434 12.8002 8.31322 12.8002 7.0002C12.8002 3.79694 10.2034 1.2002 7.0002 1.2002ZM2.8002 7.0002C2.8002 4.6806 4.6806 2.8002 7.0002 2.8002C9.31979 2.8002 11.2002 4.6806 11.2002 7.0002C11.2002 9.31979 9.31979 11.2002 7.0002 11.2002C4.6806 11.2002 2.8002 9.31979 2.8002 7.0002Z' fill='%23A2A2A2'/></svg>");
  padding-right: 0;
  padding-left: 30px;
  background-position: 10px center;
}

body {
  font-size: 14px;
  line-height: 20px;
  height: 100vh;
  color: $text;
  #wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

#main {
  display: flex;
  align-items: stretch;
  // height: 100%;
  flex-grow: 1;
  border-top: 1px solid $border;

  .action-account {
    .tabular {
      p:has(input[type="hidden"]) {
        display: flex;
        align-items: center;
        position: relative;
        line-height: initial;
        cursor: pointer;
        padding-left: 0;
        label {
          display: flex;
          align-items: center;
          margin-left: 0;
          justify-content: flex-end;
          margin-right: 0;
          width: 185px;
          &:after {
            cursor: pointer;
            width: 16px;
            height: 16px;
            border-radius: 4px;
            border: 1px solid $border;
            content: "";
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            margin-left: 6px;
            box-sizing: border-box;
            background-color: $white;
          }
        }

        &:has(input:checked) {
          label {
            &:after {
              content: "\e96e";
              font-family: "icomoon";
              font-size: 14px;
              line-height: 14px;
              border-color: transparent;
              color: $white;
              background-color: $black;
            }
          }
        }
      }
    }
  }

  #options-content {
    p {
      display: flex;
      flex-wrap: nowrap;
      gap: 8px;
    }
  }

  #search-input {
    > p {
      display: flex;
      flex-wrap: nowrap;
      gap: 8px;
    }
  }

  #search-types {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
    label {
      padding-left: 0;
    }
  }

  #sidebar-switch-panel {
    right: -38px;
    width: 36px;
    height: 36px;
    border: 1px solid $border;
    border-radius: 0 6px 6px 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    left: auto;
    top: 16px;
    &:hover {
      background: $whiteHover;
      #sidebar-switch-button {
        &:after {
          content: "\ea03";
        }
      }
    }
  }

  #sidebar-switch-button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      display: none;
    }
    &:after {
      content: "\ea02";
      font-family: "icomoon";
      color: $gray;
      font-size: 20px;
      line-height: 1;
    }
  }

  #content {
    padding-left: 60px;
    padding-right: 60px;
  }

  #sidebar {
    border-right: 1px solid $border;
    padding: 16px;
    background-color: $gray10;
    .contextual {
      margin-top: 0;
      a {
        min-height: initial;

        &.icon-edit {
          color: $gray;
          margin-top: 10px;
          font-size: 13px;
          line-height: 18px;
          font-weight: bold;
          svg {
            display: none;
          }
          &:before {
            content: "\e96b";
            font-family: "icomoon";
            font-size: 16px;
            line-height: 16px;
            display: flex;
            font-weight: normal;
          }
        }
      }
    }
    // wiki page용
    #sidebar-wrapper > {
      h3 + ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          a {
            display: block;
            font-size: 14px;
            line-height: 20px;
            color: $text;
            padding: 8px 8px 8px 28px;
            border-radius: 6px;
            &:hover {
              background-color: $whiteHover;
            }
          }
        }
      }
    }
  }

  #sidebar-wrapper {
    > h3 {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 8px;
      font-size: 14px;
      line-height: 20px;
      color: $gray;
      &::before {
        content: "\e94b";
        font-family: "icomoon";
        font-size: 16px;
        margin-right: 4px;
      }
    }
    .queries {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        position: relative;
        .query {
          display: block;
          font-size: 14px;
          line-height: 20px;
          color: $text;
          padding: 8px 8px 8px 28px;
          border-radius: 6px;
          &:hover {
            background: $whiteHover;
          }
        }
        .icon-clear-query {
          position: absolute;
          right: 8px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 16px;
          line-height: 20px;
          color: $gray;

          .icon-label,
          svg {
            display: none;
          }
          &:after {
            content: "\e916";
            font-family: "icomoon";
            font-size: 16px;
            line-height: 16px;
          }
        }
        .selected {
          background: $whiteHover;
          font-weight: bold;
        }
      }
    }

    #watchers {
      position: relative;
      > h3 {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 8px;
        font-size: 14px;
        line-height: 20px;
        color: $gray;
        &::before {
          content: "\e94b";
          font-family: "icomoon";
          font-size: 16px;
          margin-right: 4px;
        }
      }
      .contextual {
        position: absolute;
        right: 0;
        top: 10px;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $gray;
          font-size: 13px;
          line-height: 18px;
          font-weight: 500;
          &:before {
            content: "\e969";
            font-family: "icomoon";
            font-size: 16px;
            line-height: 16px;
            display: block;
            margin-right: 4px;
            font-weight: normal;
          }
        }
      }
      .watchers {
        margin: 0;
        padding: 0;
        li {
          display: flex;
          align-items: center;
          font-size: 14px;
          line-height: 20px;
          color: $text;
          padding: 8px 0px 8px 28px;
          border-radius: 6px;
          margin-bottom: 0;
        }
        .delete {
          margin-left: auto;
          .icon-label {
            display: none;
          }
          &:after {
            content: "\e966";
            font-family: "icomoon";
            font-size: 16px;
            line-height: 16px;
            color: $placeholder;
          }
          &:hover {
            &:after {
              color: $warning;
            }
          }
        }
        svg {
          display: none;
        }
      }
    }

    // api 접근키
    h4 + div {
      padding: 8px 10px;
      margin: 0;
      font-size: 14px;
      line-height: 20px;
      color: $text;
      pre {
        word-break: break-all;
        white-space: normal;
      }
    }
  }

  &.collapsedsidebar {
    #sidebar-switch-panel {
      &:hover {
        #sidebar-switch-button {
          &:after {
            content: "\ea04";
          }
        }
      }
    }
    #sidebar {
      margin-left: -261px;
    }
  }

  #issue_is_private_label {
    &:after {
      display: none;
    }
  }
}

#content {
  // input checkbox
  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    appearance: none;
    border-radius: 4px;
    border: 1px solid $border;
    background-color: $white;
    cursor: pointer;
    &:checked {
      background-color: $black;
      border-color: transparent;
      &:before {
        content: "\e96e";
        font-family: "icomoon";
        font-size: 14px;
        line-height: 14px;
        border-color: transparent;
        color: $white;
        background-color: $black;
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        margin-top: -1px;
        margin-left: -1px;
      }
    }
    &:disabled {
      opacity: 0.5;
    }
  }

  input[type="radio"] {
    display: none;
    + label {
      display: flex;
      align-items: center;
      position: relative;
      line-height: initial;
      cursor: pointer;
      &:before {
        cursor: pointer;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid $border;
        content: "";
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 6px;
        box-sizing: border-box;
        background-color: $white;
      }
      a {
        display: block;
      }
    }
    &:checked {
      + label {
        &:after {
          position: absolute;
          left: 4px;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $text;
        }
      }
    }
  }
}
// 작업내역
.controller-activities {
  #activity_scope_form {
    > h3 {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 8px;
      font-size: 14px;
      line-height: 20px;
      color: $gray;
      &::before {
        content: "\ea0b";
        font-family: "icomoon";
        font-size: 16px;
        margin-right: 4px;
      }
    }
    p {
      padding: 8px 10px;
      margin: 0;
      select,
      input {
        width: 100%;
        margin-top: 12px;
        display: block;
      }
    }

    ul {
      list-style: none;
      margin: 12px 10px 0;
      padding: 18px 0 8px;
      border-top: 1px solid $border;
      li {
        padding: 8px 0;
        a {
          font-size: 14px;
          line-height: 20px;
          color: $text;
        }
      }
    }

    input[type="submit"] {
      margin-top: 0;
      width: auto;
      margin-left: auto;
      margin-right: 0;
    }
  }
}

// 내 계정
.action-account {
  #main {
    #sidebar-wrapper {
      > h3 {
        &::before {
          content: "\e949";
        }
      }
      p {
        padding: 8px 10px;
        font-size: 14px;
        line-height: 20px;
        color: $text;
        margin: 0;
        strong {
          font-weight: normal;
        }

        a[rel="nofollow"] {
          color: $link;
        }
      }
      h4 {
        padding: 8px 10px;
        margin: 0;
      }
    }
  }
}

// 레프트 메뉴가 없는경우 main에 nosidebar 클래스가 붙나 싶음

.contextual:not(.next-prev-links) {
  a {
    min-height: 36px;
    box-sizing: border-box;
  }
  > .icon-add {
    background-color: $text;
    .icon-label {
      display: flex;
      font-size: 14px;
      line-height: 20px;
      color: $white;
      align-items: center;
      margin: 0;
      font-weight: bold;
      &:before {
        content: "\e969";
        font-family: "icomoon";
        font-size: 16px;
        line-height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 4px;
        font-weight: normal;
      }
    }
    &:hover {
      background-color: $textHover;
    }
  }
  // 이게 헤더 쪽인가?
  .drdn-trigger {
    .icon-actions {
      &::before {
        content: "\e973";
        font-family: "icomoon";
        font-size: 16px;
        line-height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;
      }
      .icon-label {
        font-size: 0;
        margin-left: 0;
      }
    }

    .icon-copy-link {
      svg {
        display: none;
      }
    }
  }

  .journal-actions {
    .drdn-trigger {
      .icon-only.icon-actions {
        svg {
          display: none;
        }
        &:before {
          content: "\e973";
          font-family: "icomoon";
          font-size: 16px;
          line-height: 16px;
        }
      }
      .icon-label {
        font-size: 0;
      }
    }
    .drdn-content {
      top: 22px;
    }
  }

  > .icon-settings {
    padding: 9px !important;
    border: 1px solid $border;
    background-color: $gray10;
    color: $gray;
    border-radius: 6px;
    svg {
      display: none;
    }
    &::before {
      content: "\e973";
      font-family: "icomoon";
      font-size: 16px;
      line-height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: normal;
    }
    .icon-label {
      font-size: 0;
      margin-left: 0;
    }
  }

  .icon-time-add {
    border: 1px solid $border;
  }

  .drdn-content {
    .drdn-items {
      a {
        padding: 8px;
        display: flex;
        width: 100%;
        cursor: pointer;
        font-size: 14px;
        line-height: 20px;
        color: $text;
        border-radius: 6px;
        &:hover {
          background-color: $whiteHover;
        }
        &:before {
          display: none;
          font-family: "icomoon";
          font-size: 16px;
          line-height: 16px;
          display: flex;
          margin-right: 4px;
          color: $gray;
        }
        .icon-label {
          color: $text;
          font-size: 14px;
          line-height: 20px;
        }

        &.icon-copy-link {
          svg {
            display: none;
          }
          &:before {
            content: "\e9cd";
          }
        }

        &.icon-del {
          &:before {
            content: "\e966";
          }
        }
      }
    }
  }
}

#content {
  #issue_tree,
  #relations {
    .contextual {
      a {
        min-height: auto;
        border: 0;
      }
    }
  }

  .contextual.next-prev-links a {
    border: 0;
  }
  .note {
    .contextual {
      margin-right: 16px;
      padding: 0;
      font-size: 13px;
      line-height: 18px;
      a {
        min-height: auto;
        border: 0;
      }
    }
  }
}

// 필터 레이아웃 세팅
#query_form {
  border: 1px solid $border;
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 16px;
  fieldset {
    margin-bottom: 0;
  }
}

.collapsible {
  > legend {
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 16px;
    &::before {
      content: "\ea15";
      font-family: "icomoon";
      font-size: 16px;
      line-height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: normal;
      margin-right: 4px;
    }
    &.icon-collapsed {
      &::before {
        content: "\ea12";
      }
    }
  }
}

.add-filter {
  margin-top: 8px;
  width: auto;
  display: flex;
  align-items: center;
  label {
    width: 180px;
    flex-shrink: 0;
    margin-right: 8px;
  }
  select {
    width: 100%;
    max-width: 180px;
    flex-shrink: 0;
  }
}

fieldset#filters {
  &.collapsible {
    &.collapsed {
      > legend {
        margin-bottom: 0px;
      }
    }
  }
  .filter {
    .field {
      min-width: 180px;
      flex-shrink: 0;
      margin-right: 8px;
    }
    .operator {
      min-width: 180px;
      flex-shrink: 0;
      margin-right: 8px;
    }
    .values {
      min-width: 180px;
      flex-shrink: 0;

      > span {
        display: flex;
        align-items: center;
      }
      .toggle-multiselect {
        display: none;
      }
    }
    select {
      width: 100%;
    }
  }
}

fieldset#options {
  margin-top: 32px;
  position: relative;
  margin-bottom: 32px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    border-top: 1px solid $border;
    top: -52px;
    left: 0;
    width: 100%;
  }
  legend {
    margin-top: 16px;
  }
  &.collapsed {
    margin-bottom: 16px;
  }

  legend {
    + .hidden {
      > div:not(.hidden) {
        display: flex;
        align-items: center;
        .field {
          min-width: 180px;
          flex-shrink: 0;
          margin-right: 8px;
        }
      }
    }
  }
}

#query_form {
  .buttons {
    margin-top: 0;
    .icon-label {
      margin-left: 0;
      font-size: 14px;
      line-height: 20px;
    }
    .icon {
      border: 1px solid $border;
      padding-top: 7px;
      padding-bottom: 7px;
      &:hover {
        background-color: $whiteHover;
      }
      &:before {
        content: "";
        font-family: "icomoon";
        font-size: 16px;
        line-height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;
        margin-right: 4px;
        color: $gray;
      }
    }
    .icon-checked {
      background-color: $text;
      color: $white;
      border-color: transparent;
      &:hover {
        background-color: $textHover;
      }
      &:before {
        content: "\e96e";
        color: $white;
      }
    }
    .icon-reload {
      &:before {
        content: "\e9fa";
      }
    }
    .icon-save {
      &:before {
        content: "\ea0b";
      }
    }
  }

  #query_form_with_buttons {
    display: flex;
    width: 100%;
    min-width: 0;
    flex-direction: column;

    .contextual {
      order: 100;
      float: none;
      margin-bottom: 0;
      justify-content: flex-end;
      > span {
        display: flex;
        align-items: center;
        &:last-child {
          gap: 8px;
          a {
            min-height: initial;
          }
        }
        &:first-child {
          a {
            &:before {
              color: $gray;
            }
            &:hover {
              background-color: $whiteHover;
            }
          }
        }
        a {
          color: $text;
          &:before {
            color: $text;
          }
        }
        span {
          color: $disabled;
          &:before {
            color: $disabled;
          }
        }
      }
      .icon-zoom-in {
        width: 28px;
        height: 28px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: initial;
        .icon-label {
          display: none;
        }
        &:before {
          content: "\e969";
          font-family: "icomoon";
          font-size: 16px;
          line-height: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: normal;
        }
      }
      .icon-zoom-out {
        width: 28px;
        height: 28px;
        min-height: initial;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: initial;
        .icon-label {
          display: none;
        }
        &:before {
          content: "\e9fd";
          font-family: "icomoon";
          font-size: 16px;
          line-height: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: normal;
        }
      }
    }
  }
}

.other-formats {
  font-size: 14px;
  line-height: 20px;
  color: $gray;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  span {
    margin: 0;
    margin-left: 8px;
    &:first-child {
      margin-left: 16px;
    }
    a {
      border: 1px solid $border;
      font-size: 13px;
      font-weight: 500;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 3px 8px;
      &:hover {
        background-color: $whiteHover;
      }
      &:before {
        content: "\ea16" !important;
        font-family: "icomoon" !important;
        font-size: 16px;
        line-height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;
        margin-right: 4px;
        color: $gray !important;
      }
    }
  }
}

#list-definition {
  align-items: flex-start !important;
  flex-direction: column;
  > div {
    margin-bottom: 16px;
    > .field + div {
      display: flex;
      margin-right: 8px;
    }
  }
  .query-columns {
    flex-direction: column;
    label {
      font-size: 13px;
      line-height: 20px;
      color: $gray;
      margin-bottom: 8px;
      display: block;
      width: 100%;
      font-weight: bold;
    }
  }
}

.pagination .items {
  font-size: 14px;
  line-height: 20px;
  color: $text;
}

.pagination {
  display: flex;
  align-items: center;
  float: left;
  .pages {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

    li {
      span,
      a {
        width: 44px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;
        color: $text;
        &:hover {
          background-color: $whiteHover;
        }
      }
    }
    .previous {
      margin-right: 6px;
      a,
      span {
        &:before {
          content: "\e9c3";
          font-family: "icomoon";
          font-size: 16px;
          line-height: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .next {
      margin-left: 6px;
      a,
      span {
        &:before {
          content: "\e9c3";
          font-family: "icomoon";
          font-size: 16px;
          line-height: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: rotate(180deg);
        }
      }
    }

    .previous,
    .next {
      width: 32px;
      a,
      span {
        font-size: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $disabled;
        width: 32px;
        height: 28px;
        border-radius: 6px;
        cursor: not-allowed;

        &:hover {
          background-color: $whiteHover;
        }
      }
      &.page {
        a,
        span {
          color: $text;
          cursor: pointer;
        }
      }
    }

    .current {
      span,
      a {
        border: 1px solid $border;
        color: $link;
      }
    }
  }
  > span {
    font-size: 14px;
    line-height: 20px;
    a {
      color: $link;
    }
  }
}

#topmenu-nav {
  padding: 16px;
  display: flex;
  align-items: center;
  &::before {
    background: url("../images/pms_image.png") no-repeat center center;
    background-size: contain;
    width: 24px;
    height: 24px;
    display: block;
    content: "";
    margin-right: 8px;
  }
  h1 {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 26px;
  }

  #quick-search {
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
    label {
      display: none;
    }
    .expandSearch {
      position: relative;
      &:after {
        content: "\e960";
        font-family: "icomoon";
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: $disabled;
      }
      input {
        padding-left: 30px;
      }
    }

    > ul {
      padding: 0;
      border-radius: 6px;
      list-style: none;
      margin: 0;
      margin-left: auto;
      display: flex;
      align-items: center;
      margin-left: 16px;
      > li {
        &:last-child {
          display: none;
        }
        > a {
          display: flex;
          font-size: 14px;
          line-height: 22px;
          color: $gray;
          padding: 5px 10px;
        }
      }
    }
  }

  #project-jump {
    .drdn-trigger {
      width: 28px;
      height: 28px;
      font-size: 0;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: initial;
      margin-left: 4px;
      &:hover {
        background-color: $whiteHover;
      }
      &:after {
        content: "\ea15";
        font-family: "icomoon";
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
      }
    }
    &.expanded {
      .drdn-trigger {
        background-color: $whiteHover;
        &:after {
          content: "\ea12";
        }
      }
    }
  }

  .profileicon {
    width: 36px;
    height: 36px;
    border-radius: 6px;
    background-color: $gray20;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    cursor: pointer;
    &:after {
      content: "\e949";
      font-family: "icomoon";
      font-size: 20px;
      line-height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $gray;
    }
    img {
      width: 36px !important;
      height: 36px !important;
      top: 0;
    }
    &.hasImage {
      background-color: transparent;
      &:after {
        display: none;
      }
    }
  }

  #profilemenu {
    padding: 8px;
    position: absolute;
    top: 100%;
    margin-top: 5px;
    right: 0;
    min-width: 160px;
    background-color: $white;
    border-radius: 8px;
    border: 1px solid $border;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
    z-index: 10;
  }

  #profilelist {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      a {
        display: flex;
        font-size: 14px;
        line-height: 20px;
        color: $text;
        padding: 8px;
        border-radius: 6px;
        &:hover {
          background-color: $whiteHover;
        }
      }
    }
  }

  .drdn-content {
    right: auto;
    left: 0;
    min-width: 200px;
    max-width: 300px;
    width: 100%;
    padding: 8px;
    .quick-search {
      > svg {
        display: none;
      }
      input {
        margin-top: 0;
      }
    }
    .drdn-items > * {
      display: block;
      margin: 0;
      padding: 0;
      border-radius: 0;
    }

    .drdn-items {
      overflow: hidden;
      max-height: initial;
      &.projects {
        margin-top: 4px;
        overflow: auto;
        overflow-x: hidden;
        max-height: 200px;
      }

      &.all-projects {
        margin-top: 5px;
        padding-top: 5px;
        border-top: 1px solid $border;
      }

      strong {
        color: $text;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        padding: 8px;
      }
      a {
        font-size: 14px;
        line-height: 20px;
        color: $text;
        padding: 8px 12px;
        border-radius: 6px;
        cursor: pointer;
        &:hover {
          background-color: $whiteHover;
        }
        &.selected {
          span {
            &:before {
              order: 2;
              content: "\e96e";
              font-family: "icomoon" !important;
              font-size: 16px;
              line-height: 16px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-left: auto;
              color: $text;
            }
          }
        }
        span {
          display: flex;
          width: 100%;
        }
      }
    }
  }
}

#main-menu {
  padding: 0 8px;
  overflow: initial;
  ul {
    height: auto;
    position: relative;
  }
  li {
    a {
      height: 35px;
      width: auto;
      padding: 0 4px;
      margin-right: 20px;
      color: $gray;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0;
      &:hover {
        color: $text;
      }
    }
  }
  .selected {
    font-weight: bold;
    border-bottom: 3px solid $text;
    color: $text;
  }

  .new-object {
    min-width: initial;
    width: 32px;
    font-size: 0;
    display: flex;
    justify-content: center;
    padding-top: 2px;
    margin-right: 0;
    &:after {
      content: "\e969";
      font-family: "icomoon";
      font-size: 16px;
      line-height: 16px;
      color: $gray;
    }
    &:hover {
      &:after {
        color: $text;
      }
    }
  }

  .menu-children {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
    max-width: 200px;
    width: 100%;
    padding: 8px;
    list-style: none;
    margin: 0;
    background-color: $white;
    border-radius: 8px;
    border: 1px solid $border;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
    z-index: 10;
    display: none;
    &.visible {
      display: block;
    }
    li {
      a {
        display: flex;
        font-size: 14px;
        line-height: 20px;
        color: $text;
        padding: 8px;
        border-radius: 6px;
        height: auto;
        margin-right: 0;
        &:hover {
          background-color: $whiteHover;
        }
      }
    }
  }
}

.controller-calendars {
  .pagination {
    float: none;
    .pages li {
      width: auto;

      a {
        font-size: 14px;
        line-height: 20px;
        width: auto;
        padding: 0 8px;
        &:before {
          display: none;
        }
      }
    }
  }

  #query_form_with_buttons {
    .buttons {
      margin-top: 16px;
    }
  }
}

#content {
  .contextual {
    > a {
      border: 1px solid $border;
      border-radius: 6px;
      font-size: 13px;
      line-height: 18px;
      font-weight: bold;
      background-color: $white;
      &:before {
        color: $gray;
        font-size: 16px;
      }
      &.icon-edit {
        &:before {
          content: "\e96b";
        }
      }
      &.icon-del {
        &:before {
          content: "\e966";
        }
      }
      .icon-label {
        margin-left: 0;
        color: $text;
      }
    }
  }
}

.controller-search {
  #search-form {
    input,
    select {
      margin-bottom: 0;
    }
    .box {
      > p {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }
}

table.list {
  .buttons {
    span:not(.icon-only) {
      svg {
        display: none;
      }
    }

    a {
      font-size: 14px;
      line-height: 20px;
      display: inline-flex;
      align-items: center;
      svg {
        display: none;
      }

      &:before {
        font-size: 16px;
        line-height: 16px;
        color: $gray;
      }
      &.icon-copy {
        &:before {
          content: "\e9cd";
        }
      }
      &.icon-download {
        &:before {
          content: "\e91e";
        }
      }
      &.icon-del {
        &:before {
          content: "\e966";
        }
      }
      &.icon-edit {
        &:before {
          content: "\e96b";
        }
      }

      &:hover {
        &:before {
          color: $text;
        }
        &.icon-del {
          &:before {
            color: $warning;
          }
        }
      }
    }
  }
}

.autoscroll {
  border-radius: 10px;
  border: 1px solid $border;
  width: 100%;

  table {
    thead {
      th {
        background-color: $gray20;
        font-size: 12px;
        line-height: 18px;
        font-weight: bold;
        text-align: left;
        padding: 11px 8px;
        svg {
          display: none;
        }
        .icon-label {
          margin-left: 0;
        }
        &.id {
          text-align: center;
        }
      }
    }
    tbody {
      border-radius: 10px;
      tr {
        &:hover {
          background-color: $whiteHover;
        }
      }
      td {
        padding: 15px 8px;
        text-align: left;
      }
    }

    .icon-sorted-asc {
      .icon-label {
        display: none;
      }
      &:after {
        content: "\e9f9" !important;
        font-family: "icomoon" !important;
        font-size: 16px;
        line-height: 16px;
        display: block;
        margin: 0 auto;
      }
    }
    .buttons {
      > a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        margin: 0;
        border-radius: 6px;
        .icon-label {
          display: none;
        }
        &:before {
          font-family: "icomoon";
          font-size: 16px;
          line-height: 16px;
          font-weight: normal;
          color: $gray;
        }
        &.icon-actions {
          &:before {
            content: "\e933";
          }
        }
        &.icon-edit {
          &:before {
            content: "\e96b";
          }
        }

        &:hover {
          background-color: $white;

          &:before {
            color: $text;
          }
        }
      }
    }
    td {
      &.project {
        a {
          color: $text !important;
        }
      }
    }
    .icon-only {
      margin-right: auto;
    }
  }
  .sort {
    font-size: 14px;
    line-height: 20px;
    color: $text;
    &:before {
      font-family: "icomoon";
      font-size: 16px;
      line-height: 16px;
      color: $text;
      margin-right: 4px;
    }
    &.asc:before {
      content: "\e9f9";
    }
    .icon-label {
      display: none;
    }
  }
}

.controller-timelog {
  #query_form {
    .tabs {
      margin-bottom: 16px;
      height: auto;
    }
    ul {
      height: auto;
      a {
        height: auto;
        padding: 7px 13px;
        border-radius: 48px;
        font-size: 15px;
        line-height: 22px;
        color: $gray;
        &.selected {
          border: 1px solid $text;
          color: $text;
          font-weight: bold;
        }
      }
    }
  }
}

#wrapper #context-menu ul {
  padding: 8px 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  border: 1px solid $border;
  li {
    padding: 0 8px;
    &:hover {
      background-color: initial;
    }

    a {
      font-size: 14px;
      line-height: 20px;
      padding: 6px 8px;
      border-radius: 6px;
      color: $text;
      display: flex;
      align-items: center;
      gap: 8px;
      &:hover {
        background-color: $whiteHover;
      }
      svg {
        display: none;
      }
      > span {
        display: block;
        font-size: 14px;
        line-height: 20px;
      }
      &:before {
        font-family: "icomoon";
        font-size: 16px;
        line-height: 16px;
        color: $gray;
      }
    }

    .icon-label {
      margin-left: 0;
    }

    &.folder {
      .icon-only {
        display: none;
      }
      > a {
        &:after {
          content: "\ea13";
          font-family: "icomoon";
          font-size: 16px;
          line-height: 16px;
          color: $gray;
          margin-left: auto;
        }
      }
      &:not(:has(~ li.folder)) {
        padding-bottom: 6px;
        margin-bottom: 6px;
        border-bottom: 1px solid $border;
      }
    }

    .icon {
      &:before {
        font-family: "icomoon";
        font-size: 16px;
        line-height: 16px;
        color: $gray;
      }
      &.icon-fav,
      &.icon-fav-off {
        &:before {
          content: "\e992";
        }
      }

      &.icon-time-add {
        &:before {
          content: "\e9df";
        }
      }

      &.icon-add {
        &:before {
          content: "\e969";
        }
      }

      &.icon-copy-link {
        &:before {
          content: "\e9ec";
        }
      }

      &.icon-copy {
        &:before {
          content: "\e9cd";
        }
      }

      &.icon-del {
        &:before {
          content: "\e966";
        }
      }
    }
  }
}

#footer {
  padding: 20px 60px;
  font-size: 12px;
  line-height: 16px;
  color: $placeholder;
  border-top: 1px solid $border;
}

.controller-my,
.controller-welcome {
  #main {
    &.nosidebar {
      #content {
        padding-left: 48px;
        padding-right: 48px;
      }
    }
  }
}

// 작업 내역
.controller-activities {
  #content {
    .subtitle {
      font-style: normal;
      margin-top: 16px;
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 20px;
      color: $text;
      font-weight: normal;
    }
  }
  #activity {
    h3 {
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
      color: $gray;
      padding-bottom: 16px;
      margin-bottom: 16px;
      border-bottom: 1px solid $border;
    }
    dl {
      margin: 0;
      dt {
        margin: 0 0 8px;

        &.icon {
          color: $gray;
          font-family: "icomoon";
          font-size: 16px;
          line-height: 16px;
          display: flex;
          svg {
            display: none;
          }

          &:before {
            margin-right: 4px;
            order: 2;
          }

          &.icon-issue {
            &:before {
              content: "\ea23";
            }
          }

          &.icon-issue-note {
            &:before {
              content: "\e965";
            }
          }

          &.icon-attachment {
            &:before {
              content: "\e956";
            }
          }

          &.icon-issue-edit {
            &:before {
              content: "\e96b";
            }
          }

          &.icon-news {
            &:before {
              content: "\ea25";
            }
          }

          &.icon-document {
            &:before {
              content: "\e9a5";
            }
          }

          &.grouped {
            margin-left: 0;
            padding-left: 24px;
            border-left: 2px solid $border;
            margin-bottom: 0;
            padding-bottom: 16px;
            &:not(:has(~ dd.grouped)) {
              padding-bottom: 0;
              margin-bottom: 24px;
            }
          }
        }
        .time {
          font-size: 14px;
          line-height: 20px;
          color: $gray;
          font-weight: normal;
          margin-left: 0;
          border-bottom: 0;
          order: 3;
        }

        .project {
          font-size: 14px;
          line-height: 20px;
          color: $text;
          order: 4;
        }

        > img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          margin-right: 8px;
          object-fit: cover;
          order: 1;
        }

        a {
          color: $link;
          font-size: 14px;
          line-height: 20px;
          order: 5;
        }
      }
      dd {
        margin: 0;
        font-size: 14px;
        line-height: 20px;
        color: $text;
        font-weight: normal;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
      }
      + h3 {
        margin-top: 32px;
      }

      .grouped {
        padding-left: 24px;
        border-left: 2px solid $border;
      }

      .description {
        font-size: 14px;
        line-height: 20px;
        color: $text;
        font-weight: normal;
        font-style: normal;
        order: 2;
        + .author {
          margin-bottom: 8px;
        }
        &:empty {
          display: none;
          + .author {
            margin-top: 0;
          }
        }
      }
      .author {
        font-size: 14px;
        line-height: 20px;
        color: $text;
        font-weight: bold;
        display: block;
        order: 1;
      }
    }
  }
}

.controller-gantts {
  #query_form_content {
    label {
      margin-top: 8px;
      &[for="draw_relations"] {
        span {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          margin-right: 4px;
        }
        font-size: 14px;
        line-height: 20px;
        color: $text;
        font-weight: bold;
      }
    }
    #options {
      fieldset {
        + fieldset {
          margin-top: 16px;
        }
      }
    }
  }

  .gantt_subjects {
    font-size: 12px;
    line-height: 16px;
    color: $text;
    font-weight: normal;
    font-style: normal;
    .icon-gravatar {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      vertical-align: middle;
    }
    .icon-projects {
      svg {
        display: none;
      }
    }
    .icon-issue {
      svg {
        display: none;
      }
      &:before {
        content: "\ea23";
        font-family: "icomoon";
        font-size: 16px;
        line-height: 16px;
        color: $gray;
        margin-right: 4px;
      }
    }
    .issue-subject,
    .project-name {
      .icon-collapsed {
        cursor: pointer;
        svg {
          display: none;
        }
        &:before {
          content: "\ea15";
          font-family: "icomoon";
          font-size: 16px;
          line-height: 16px;
          color: $gray;
        }
      }
      &.open {
        .icon-collapsed {
          &:before {
            content: "\ea12";
          }
        }
      }
    }

    .issue-subject {
      img {
        vertical-align: middle;
      }
    }

    .icon-expanded {
      svg {
        display: none;
      }
      &:before {
        content: "\ea15";
        font-family: "icomoon";
        font-size: 16px;
        line-height: 16px;
        color: $gray;
      }
      &.expander {
        &:before {
          content: "\ea12";
        }
      }
    }
  }

  .gantt_subjects_container .gantt_subjects * {
    vertical-align: top;
  }
}

div.wiki p,
div.wiki ul,
div.wiki ol {
  word-break: break-word;
}

#list-definition .buttons,
.query-columns .buttons {
  margin-top: 28px;
}

select[multiple] {
  background: none;
  &#available_c,
  &#selected_c {
    padding: 5px;
    max-height: 216px;
    option {
      border-bottom: 0;
      padding: 4px 8px;
      font-size: 14px;
      line-height: 20px;
      border-radius: 6px;
      margin-bottom: 4px;
      height: 28px;
      display: flex;
      align-items: center;
    }
  }
}

#list-definition .buttons input[type="button"],
.query-columns .buttons input[type="button"] {
  width: 36px;
  height: 36px;
  border: 0;
  background-color: $gray20;
  box-shadow: none;
  &:hover {
    box-shadow: none;
    background: $gray20hover;
  }

  &:after {
    font-family: "icomoon";
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.move-right {
    &:after {
      content: "\ea13";
    }
  }
  &.move-left {
    &:after {
      content: "\ea14";
    }
  }
}

.attachments {
  table {
    a {
      box-sizing: border-box;
      &.icon {
        svg {
          display: none;
        }
        &:before {
          font-family: "icomoon";
          font-size: 16px;
          line-height: 16px;
          color: $gray;
        }
      }

      &.icon-attachment {
        &:before {
          content: "\e956";
        }
      }

      &.icon-download {
        &:before {
          content: "\e9cd";
        }
      }
    }

    .icon-del {
      width: 28px;
      height: 28px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: $whiteHover;
      }
      &:before {
        content: "\e966";
      }
      .icon-label {
        display: none;
      }
    }
  }
  a {
    padding: 0 8px;
    svg {
      display: none;
    }
  }
}
.watchers li {
  img {
    @include profileImageSmall;
  }
}
.note-header {
  > img {
    @include profileImage;
  }
}
.gravatar-with-child {
  img {
    border-radius: 50%;
  }
}

.news-article {
  h3 {
    img {
      @include profileImage;
    }
  }
}

#attach_files_link {
  padding: 8px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
  &:hover {
    background-color: $whiteHover;
  }
  &:before {
    content: "\e969";
    font-family: "icomoon";
    font-size: 16px;
    line-height: 16px;
    color: $gray;
    margin-right: 4px;
  }
}

.controller-kanban {
  color: $text;
  #content {
    overflow: initial;
  }
  .floatThead-container {
    position: sticky !important;
    transform: none !important;
    table {
      width: 100% !important;
    }
  }
  #kanban_table {
    thead {
      display: none;
    }
  }

  legend {
    color: $darkGray;
    &:before {
      color: $text;
    }
  }

  .buttons {
    margin-top: 0;
    .icon-label {
      margin-left: 0;
      font-size: 14px;
      line-height: 20px;
    }
    .icon {
      border: 1px solid $border;
      padding-top: 7px;
      padding-bottom: 7px;
      &:hover {
        background-color: $whiteHover;
      }
      &:before {
        content: "";
        font-family: "icomoon";
        font-size: 16px;
        line-height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;
        margin-right: 4px;
        color: $gray;
      }
    }
    .icon-checked {
      background-color: $text;
      color: $white;
      border-color: transparent;
      &:hover {
        background-color: $textHover;
      }
      &:before {
        content: "\e96e";
        color: $white;
      }
    }
    .icon-reload {
      &:before {
        content: "\e9fa";
      }
    }
    .icon-save {
      &:before {
        content: "\ea0b";
      }
    }
  }

  #form1 {
    border: 1px solid $border;
    border-radius: 6px;
    padding: 16px;
    margin-bottom: 16px;
  }

  #upper_filters {
    td:has(input[type="checkbox"]) {
      input[type="checkbox"] {
        display: none;
        + label {
          display: inline-flex;
          align-items: center;
          position: relative;
          line-height: initial;
          flex-wrap: wrap;
          vertical-align: middle;
          margin-left: 6px;
          &:before {
            cursor: pointer;
            width: 16px;
            height: 16px;
            border-radius: 4px;
            border: 1px solid $border;
            content: "";
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 6px;
            box-sizing: border-box;
            background-color: $white;
          }
          a {
            display: block;
          }
        }
        &:checked {
          + label {
            &:before {
              content: "\e96e";
              font-family: "icomoon";
              font-size: 14px;
              line-height: 14px;
              border-color: transparent;
              color: $white;
              background-color: $black;
            }
          }
        }
      }
    }

    td:last-child {
      input[type="checkbox"] {
        display: block !important;
        width: 16px;
        height: 16px;
        &:checked {
          &:before {
            content: "\e96e";
            font-family: "icomoon";
            font-size: 14px;
            line-height: 14px;
            border-color: transparent;
            color: $white;
            background-color: $black;
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
          }
        }
      }
    }
  }

  #lower_filters {
    margin-top: 32px;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      border-top: 1px solid $border;
      top: -52px;
      left: 0;
      width: 100%;
    }
    td:has(input[type="checkbox"]) {
      div {
        display: flex;
        align-items: center;
        input[type="checkbox"] {
          display: block;
          width: 16px;
          height: 16px;
          margin: 0 4px 0 0;
          &:checked {
            &:before {
              content: "\e96e";
              font-family: "icomoon";
              font-size: 14px;
              line-height: 14px;
              border-color: transparent;
              color: $white;
              background-color: $black;
              width: 16px;
              height: 16px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}

.controller-projects {
  .icon-add {
    background-color: $text;
    color: $white;
    border-color: $text;
  }
  #projects-index {
    ul.projects {
      li.root {
        padding: 16px;
        border-radius: 16px;
        border: 1px solid $gray30;
        background-color: $gray10;
        overflow: hidden;
        svg {
          display: none;
        }
        .project {
          font-size: 16px;
          @include defaultFontFamily;
          margin-bottom: 16px;

          &:after,
          &:before {
            font-family: "icomoon";
            font-size: 16px;
            line-height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 4px;
            color: $placeholder;
          }
          &.icon-user {
            &:before {
              content: "\e949";
              order: 2;
              justify-self: end;
            }
          }
          &.my-project {
            &:after {
              content: "\e936";
              order: 3;
              justify-self: end;
            }
          }
        }
      }
      ul.projects {
        border-left: 3px solid $border;
      }
    }
  }

  #tab-content-info {
    label {
      margin-right: 8px;
    }
    p {
      display: flex;
      align-items: center;
      input[type="checkbox"] {
        display: block !important;
        width: 16px;
        height: 16px;
        margin: 0 4px 0 0;
        &:checked {
          &:before {
            content: "\e96e";
            font-family: "icomoon";
            font-size: 14px;
            line-height: 14px;
            border-color: transparent;
            color: $white;
            background-color: $black;
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
          }
        }
      }
    }
  }

  #tab-content-activities {
    .icon-del {
      padding-left: 8px;
      padding-right: 8px;
      &:hover {
        background-color: $whiteHover;
      }
      svg {
        display: none;
      }
    }
    table {
      text-align: center !important;
    }
  }

  #tab-content-webhook {
    .icon-del {
      border: 1px solid $border;
      padding: 7px 8px;
      border-radius: 6px;
      display: inline-flex;
      align-items: center;
      margin-top: 16px;
      background-color: $white;
      &:before {
        content: "\e966";
        font-family: "icomoon";
        font-size: 16px;
        line-height: 16px;
        color: $gray;
      }
      svg {
        display: none;
      }
      span {
        font-size: 14px;
        line-height: 20px;
      }
      &:hover {
        background-color: $whiteHover;
      }
    }
  }

  p > {
    .icon-add {
      border: 1px solid $border;
      padding: 7px 8px;
      border-radius: 6px;
      background-color: $white;
      color: $text;
      svg {
        display: none;
      }
      &:hover {
        background-color: $whiteHover;
      }
      &:before {
        content: "\e969";
        font-family: "icomoon";
        font-size: 16px;
        line-height: 16px;
        color: $gray;
      }
    }
  }

  .icon-reload {
    border: 1px solid $border;
    padding: 7px 8px;
    border-radius: 6px;

    svg {
      display: none;
    }
    span {
      font-size: 14px;
      line-height: 20px;
    }
    &:hover {
      background-color: $whiteHover;
    }
    &:before {
      content: "\e9fa";
      font-family: "icomoon";
      font-size: 16px;
      line-height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: normal;
      margin-right: 4px;
      color: $gray;
    }
  }
}

.action-settings {
  #content {
    .tabs {
      margin-bottom: 16px;
      height: auto;
      ul {
        height: auto;
        a {
          height: auto;
          padding: 7px 13px;
          border-radius: 48px;
          font-size: 15px;
          line-height: 22px;
          color: $gray;
          &.selected {
            border: 1px solid $text;
            color: $text;
            font-weight: bold;
          }
        }
      }
    }
    .jstTabs.tabs li a {
      border-radius: 6px 6px 0 0;
    }
  }
}

// toast

#errorExplanation,
div.flash,
.nodata,
.warning,
.conflict {
  padding: 11px 20px 11px 16px;
  border-radius: 6px;
  color: $white;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  display: flex;
  margin-bottom: 16px;
}

.warning {
  background-color: rgba(242, 170, 60, 0.9);
  flex-direction: column;
  justify-content: center;
  p {
    margin: 0;
    margin-bottom: 10px;
    &:first-child {
      &:before {
        content: "\e9ba";
        font-family: "icomoon";
        font-size: 20px;
        line-height: 20px;
        color: $white;
        margin-right: 8px;
      }
    }
    &:last-child {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      label {
        margin-right: 8px;
      }
    }
  }
}

.nodata {
  background-color: rgba(242, 170, 60, 0.9);
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  &:before {
    content: "\e9ba";
    font-family: "icomoon";
    font-size: 20px;
    line-height: 20px;
    color: $white;
    margin-right: 8px;
  }
}

.flash {
  background-color: rgba(0, 196, 115, 0.9);
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  svg {
    display: none;
  }
  &:before {
    content: "\e96e";
    font-family: "icomoon";
    font-size: 16px;
    line-height: 16px;
    color: rgba(0, 196, 115, 0.9);
    margin-right: 8px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border-radius: 50%;
  }

  &.error {
    background-color: rgba(227, 79, 79, 0.9);
    border: 0;
    color: $white;
    flex-direction: row;
    justify-content: flex-start;
    &:before {
      content: "\ea1f";
      font-family: "icomoon";
      font-size: 20px;
      line-height: 20px;
      color: rgba(227, 79, 79, 0.9);
      margin-right: 8px;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      border-radius: 50%;
    }
  }
}
