@font-face {
  font-family: "icomoon";
  src: url("../webfonts/icomoon.eot?ssg58v");
  src: url("../webfonts/icomoon.eot?ssg58v#iefix") format("embedded-opentype"),
    url("../webfonts/icomoon.woff2?ssg58v") format("woff2"),
    url("../webfonts/icomoon.woff?ssg58v") format("woff"),
    url("../webfonts/icomoon.ttf?ssg58v") format("truetype"),
    url("../webfonts/icomoon.svg?ssg58v#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.icon-only,
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-label {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

.icon-ic-maximize1:before {
  content: "\e9b7";
}
.icon-ic-check-circle1:before {
  content: "\e9b8";
}
.icon-ic-warning-triangle:before {
  content: "\e9b9";
}
.icon-ic-warning-triangle-fill:before {
  content: "\e9ba";
}
.icon-ic-warning-fill-1:before {
  content: "\e9bb";
}
.icon-ic-description:before {
  content: "\e9a5";
}
.icon-ic-edit1:before {
  content: "\e9a6";
}
.icon-ic-location-1 .path1:before {
  content: "\e9a9";
  color: rgb(0, 0, 0);
}
.icon-ic-location-1 .path2:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ic-checkbox-line .path1:before {
  content: "\e9ac";
  color: rgb(255, 255, 255);
}
.icon-ic-checkbox-line .path2:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-ic-radio-line .path1:before {
  content: "\e9b3";
  color: rgb(255, 255, 255);
}
.icon-ic-radio-line .path2:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-ic-radio-fill:before {
  content: "\e9b6";
}
.icon-ic-checkbox-fill .path1:before {
  content: "\e9a7";
  color: rgb(51, 51, 51);
}
.icon-ic-checkbox-fill .path2:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ic-arrow-repeat:before {
  content: "\e9aa";
}
.icon-ic-delete-circle:before {
  content: "\e9ad";
}
.icon-ic-check-circle .path1:before {
  content: "\e9ae";
  color: rgb(51, 51, 51);
}
.icon-ic-check-circle .path2:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ic-add-circle .path1:before {
  content: "\e9b0";
  color: rgb(51, 51, 51);
}
.icon-ic-add-circle .path2:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ic-arrow-2:before {
  content: "\e9b4";
}
.icon-ic-hourglass:before {
  content: "\ea22";
}
.icon-ic-pointer-right:before {
  content: "\ea21";
}
.icon-ic-archive:before {
  content: "\ea20";
}
.icon-ic-bang:before {
  content: "\ea1f";
}
.icon-ic-typo-underline:before {
  content: "\ea1e";
}
.icon-ic-object:before {
  content: "\ea1d";
}
.icon-ic-translate-switch:before {
  content: "\ea1c";
}
.icon-ic-language:before {
  content: "\ea1b";
}
.icon-ic-ai-fill:before {
  content: "\ea18";
}
.icon-ic-spelling:before {
  content: "\ea19";
}
.icon-ic-letter-improve:before {
  content: "\ea1a";
}
.icon-ic-fileload-down:before {
  content: "\ea16";
}
.icon-ic-fileload-up:before {
  content: "\ea17";
}
.icon-ic-arrow-medium-up:before {
  content: "\ea12";
}
.icon-ic-arrow-medium-right:before {
  content: "\ea13";
}
.icon-ic-arrow-medium-left:before {
  content: "\ea14";
}
.icon-ic-arrow-medium-down:before {
  content: "\ea15";
}
.icon-ic-pointer-outlink:before {
  content: "\ea11";
}
.icon-ic-document:before {
  content: "\ea0f";
}
.icon-ic-money:before {
  content: "\ea10";
}
.icon-ic-camera:before {
  content: "\ea0d";
}
.icon-ic-sound:before {
  content: "\ea0e";
}
.icon-ic-home:before {
  content: "\ea07";
}
.icon-ic-direct-contact:before {
  content: "\ea08";
}
.icon-ic-faq:before {
  content: "\ea09";
}
.icon-ic-shortcut:before {
  content: "\ea0a";
}
.icon-ic-set-module:before {
  content: "\ea0b";
}
.icon-ic-notification:before {
  content: "\ea0c";
}
.icon-ic-arrow-up:before {
  content: "\ea06";
}
.icon-ic-arrow-down:before {
  content: "\ea05";
}
.icon-ic-status-default:before {
  content: "\ea02";
}
.icon-ic-status-hover:before {
  content: "\ea03";
}
.icon-ic-status-open:before {
  content: "\ea04";
}
.icon-ic-history:before {
  content: "\ea00";
}
.icon-ic-new-prompt:before {
  content: "\ea01";
}
.icon-ic-switch:before {
  content: "\e9ff";
}
.icon-ic-ai:before {
  content: "\e9fe";
}
.icon-ic-minus:before {
  content: "\e9fd";
}
.icon-ic-ai-option:before {
  content: "\e9fc";
}
.icon-ic-poll-done:before {
  content: "\e9fb";
}
.icon-ic-reset:before {
  content: "\e9fa";
}
.icon-ic-order:before {
  content: "\e9f9";
}
.icon-ic-handle:before {
  content: "\e9f8";
}
.icon-ic-pin:before {
  content: "\e9f7";
}
.icon-ic-admin-guide:before {
  content: "\e9f5";
}
.icon-ic-guide:before {
  content: "\e9f6";
}
.icon-ic-question-new:before {
  content: "\e9f4";
}
.icon-ic-typo-bullet-block-quote:before {
  content: "\e9f3";
}
.icon-ic-link:before {
  content: "\e9ec";
}
.icon-ic-typo-bold:before {
  content: "\e9ed";
}
.icon-ic-typo-codeblock:before {
  content: "\e9ee";
}
.icon-ic-typo-italic:before {
  content: "\e9ef";
}
.icon-ic-typo-number:before {
  content: "\e9f0";
}
.icon-ic-typo-point:before {
  content: "\e9f1";
}
.icon-ic-typo-strike:before {
  content: "\e9f2";
}
.icon-ic-block-new:before {
  content: "\e9ea";
}
.icon-ic-eye-hide:before {
  content: "\e9e8";
}
.icon-ic-eye-show:before {
  content: "\e9e9";
}
.icon-ic-calculator:before {
  content: "\e9e7";
}
.icon-ic-emoji:before {
  content: "\e9eb";
}
.icon-ic-browser:before {
  content: "\e9e6";
}
.icon-ic-external-link:before {
  content: "\e9e4";
}
.icon-ic-image:before {
  content: "\e9e5";
}
.icon-ic-org-company:before {
  content: "\e9e3";
}
.icon-ic-new-menu-center:before {
  content: "\e9d9";
}
.icon-ic-new-checkbox:before {
  content: "\e9e2";
}
.icon-ic-dbl-arrow-right:before {
  content: "\e9da";
}
.icon-ic-check-shield:before {
  content: "\e9db";
}
.icon-ic-chart:before {
  content: "\e9dc";
}
.icon-ic-card1:before {
  content: "\e9e0";
}
.icon-ic-checkbox:before {
  content: "\e9e1";
}
.icon-ic-new-clock-recent:before {
  content: "\e9df";
}
.icon-ic-new-gift:before {
  content: "\e9de";
}
.icon-ic-arrow-rotate:before {
  content: "\e9dd";
}
.icon-ic-new-alert:before {
  content: "\e9d2";
}
.icon-ic-new-mail:before {
  content: "\e9d3";
}
.icon-ic-new-smartphone:before {
  content: "\e9d4";
}
.icon-ic-phone-number:before {
  content: "\e9d5";
}
.icon-ic-new-org:before {
  content: "\e9d6";
}
.icon-ic-file-list:before {
  content: "\e9d7";
}
.icon-ic-new-airplain:before {
  content: "\e9d8";
}
.icon-ic-hide:before {
  content: "\e9d1";
}
.icon-ic-minerview:before {
  content: "\e9cf";
}
.icon-ic-addview:before {
  content: "\e9d0";
}
.icon-ic-exit:before {
  content: "\e9ce";
}
.icon-ic-share:before {
  content: "\e9c8";
}
.icon-ic-outlink-delete:before {
  content: "\e9c9";
}
.icon-ic-original:before {
  content: "\e9ca";
}
.icon-ic-notice:before {
  content: "\e9cb";
}
.icon-ic-drive-group:before {
  content: "\e9cc";
}
.icon-ic-copy:before {
  content: "\e9cd";
}
.icon-ic-msg-share:before {
  content: "\e9c7";
}
.icon-ic-outlink:before {
  content: "\e9c6";
}
.icon-ic-transfer:before {
  content: "\e9c5";
}
.icon-ic-topic-fill:before {
  content: "\e9c4";
}
.icon-ic-arrow-double:before {
  content: "\e9c3";
}
.icon-ic-schedule-message:before {
  content: "\e9c2";
}
.icon-ic-apps:before {
  content: "\e9c1";
}
.icon-ic-webhook-slash:before {
  content: "\e9bc";
}
.icon-ic-newtab:before {
  content: "\e922";
}
.icon-ic-reddot .path1:before {
  content: "\e9bf";
  color: rgb(255, 92, 72);
}
.icon-ic-reddot .path2:before {
  content: "\e9c0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ic-s-reddot:before {
  content: "\e9bd";
  color: #ff5c48;
}
.icon-ic-connect-02:before {
  content: "\e9a4";
}
.icon-ic-left:before {
  content: "\e9a3";
}
.icon-ic-arrow-mini-down:before {
  content: "\e901";
}
.icon-ic-arrow-mini-right:before {
  content: "\e9a2";
}
.icon-ic-menu-02:before {
  content: "\e99a";
}
.icon-ic-question:before {
  content: "\e900";
}
.icon-ic-arrow-right-up:before {
  content: "\e997";
}
.icon-ic-double-angle-left-02:before {
  content: "\e998";
}
.icon-ic-double-angle-right-02:before {
  content: "\e999";
}
.icon-ic-mini-left:before {
  content: "\e99b";
}
.icon-ic-mini-right:before {
  content: "\e99c";
}
.icon-ic-caution-line:before {
  content: "\e996";
}
.icon-ic-caution:before {
  content: "\e995";
}
.icon-ic-company:before {
  content: "\e991";
}
.icon-ic-moving-point:before {
  content: "\e994";
}
.icon-ic-eye:before {
  content: "\e992";
}
.icon-ic-filter:before {
  content: "\e993";
}
.icon-ic-otp:before {
  content: "\e990";
}
.icon-ic-creditcard:before {
  content: "\e98e";
}
.icon-ic-shield:before {
  content: "\e98f";
}
.icon-ic-time:before {
  content: "\e98d";
}
.icon-ic-success:before {
  content: "\e98b";
}
.icon-ic-warning:before {
  content: "\e98c";
}
.icon-ic-card:before {
  content: "\e986";
}
.icon-ic-dashboard:before {
  content: "\e989";
}
.icon-ic-people:before {
  content: "\e98a";
}
.icon-ic-lock-bold:before {
  content: "\e987";
}
.icon-ic-wrench:before {
  content: "\e988";
}
.icon-ic-add-on:before {
  content: "\e985";
}
.icon-ic-cake:before {
  content: "\e97c";
}
.icon-ic-direct-message:before {
  content: "\e984";
}
.icon-ic-gift-new .path1:before {
  content: "\e97d";
  color: rgb(255, 255, 255);
}
.icon-ic-gift-new .path2:before {
  content: "\e97e";
  margin-left: -1.1669921875em;
  color: rgb(239, 87, 53);
}
.icon-ic-gift-new .path3:before {
  content: "\e97f";
  margin-left: -1.1669921875em;
  color: rgb(255, 255, 255);
}
.icon-ic-gift:before {
  content: "\e983";
}
.icon-ic-users-white:before {
  content: "\e947";
}
.icon-ic-fit:before {
  content: "\e980";
}
.icon-ic-option:before {
  content: "\e981";
}
.icon-ic-answer:before {
  content: "\e982";
}
.icon-ic-solid-right:before {
  content: "\e97b";
}
.icon-ic-zoom-minus:before {
  content: "\e979";
}
.icon-ic-zoom:before {
  content: "\e97a";
}
.icon-ic-print:before {
  content: "\e978";
}
.icon-ic-long-arrow-up:before {
  content: "\e977";
}
.icon-ic-topic:before {
  content: "\e974";
}
.icon-ic-chat-list:before {
  content: "\e975";
}
.icon-ic-users-fill:before {
  content: "\e948";
}
.icon-ic-lock:before {
  content: "\e93f";
}
.icon-ic-search:before {
  content: "\e960";
}
.icon-ic-setup:before {
  content: "\e973";
}
.icon-ic-away:before {
  content: "\e971";
}
.icon-ic-bullhorn:before {
  content: "\e972";
}
.icon-ic-mail:before {
  content: "\e970";
}
.icon-ic-call:before {
  content: "\e96f";
}
.icon-ic-check-box .path1:before {
  content: "\e96c";
  color: rgb(0, 196, 115);
}
.icon-ic-check-box .path2:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ic-check:before {
  content: "\e96e";
}
.icon-ic-add:before {
  content: "\e969";
}
.icon-ic-arrow-mini:before {
  content: "\e96a";
}
.icon-ic-edit:before {
  content: "\e96b";
}
.icon-ic-quotes:before {
  content: "\e967";
}
.icon-ic-inbox-empty:before {
  content: "\e968";
}
.icon-ic-bookmark:before {
  content: "\e936";
}
.icon-ic-delete:before {
  content: "\e966";
}
.icon-ic-bubble:before {
  content: "\e964";
}
.icon-ic-comment:before {
  content: "\e965";
}
.icon-ic-arrow-solid-up:before {
  content: "\e962";
}
.icon-ic-arrow-solid-bottom:before {
  content: "\e963";
}
.icon-ic-arrow-solid-right:before {
  content: "\e961";
}
.icon-ic-calendar:before {
  content: "\e910";
}
.icon-ic-board:before {
  content: "\e95b";
}
.icon-ic-volume-mute:before {
  content: "\e95d";
}
.icon-ic-organazation:before {
  content: "\e95e";
}
.icon-ic-connect:before {
  content: "\e95f";
}
.icon-ic-re-voting:before {
  content: "\e95c";
}
.icon-ic-light-mode:before {
  content: "\e94c";
}
.icon-ic-align:before {
  content: "\e94b";
}
.icon-ic-clock:before {
  content: "\e94d";
}
.icon-ic-long-arrow-down:before {
  content: "\e938";
}
.icon-ic-file-load:before {
  content: "\e92c";
}
.icon-ic-crop:before {
  content: "\e91d";
}
.icon-ic-type:before {
  content: "\e958";
}
.icon-ic-video-chat:before {
  content: "\e959";
}
.icon-ic-todo:before {
  content: "\e95a";
}
.icon-ic-at:before {
  content: "\e955";
}
.icon-ic-clip:before {
  content: "\e956";
}
.icon-ic-menu:before {
  content: "\e957";
}
.icon-ic-plug:before {
  content: "\e937";
}
.icon-ic-bell-slash:before {
  content: "\e914";
}
.icon-ic-bell:before {
  content: "\e913";
}
.icon-ic-account-home:before {
  content: "\e902";
}
.icon-ic-star-fill:before {
  content: "\e903";
}
.icon-ic-star:before {
  content: "\e99e";
}
.icon-ic-alert:before {
  content: "\e904";
}
.icon-ic-angle-down-up .path1:before {
  content: "\e905";
  color: rgb(51, 51, 51);
}
.icon-ic-angle-down-up .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(162, 162, 162);
}
.icon-ic-angle-up-down .path1:before {
  content: "\e907";
  color: rgb(162, 162, 162);
}
.icon-ic-angle-up-down .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-ic-arrow-left-right:before {
  content: "\e909";
}
.icon-ic-arrow-left:before {
  content: "\e90a";
}
.icon-ic-arrow-up-down:before {
  content: "\e90b";
}
.icon-ic-b-angle-left:before {
  content: "\e90c";
}
.icon-ic-b-angle-right:before {
  content: "\e90d";
}
.icon-ic-b-angle-up:before {
  content: "\e90e";
}
.icon-ic-b-arrow-down:before {
  content: "\e90f";
}
.icon-ic-bar:before {
  content: "\e911";
}
.icon-ic-broken:before {
  content: "\e912";
}
.icon-ic-chat-bubble:before {
  content: "\e915";
}
.icon-ic-close:before {
  content: "\e916";
}
.icon-ic-contact:before {
  content: "\e917";
}
.icon-ic-dark_mode:before {
  content: "\e918";
}
.icon-ic-double-angle-down:before {
  content: "\e919";
}
.icon-ic-double-angle-left:before {
  content: "\e91a";
}
.icon-ic-double-angle-right:before {
  content: "\e91b";
}
.icon-ic-double-angle-up:before {
  content: "\e91c";
}
.icon-ic-download:before {
  content: "\e91e";
}
.icon-ic-drive-full:before {
  content: "\e91f";
}
.icon-ic-drive:before {
  content: "\e920";
}
.icon-ic-dropbox:before {
  content: "\e921";
}
.icon-ic-file:before {
  content: "\e9be";
}
.icon-ic-folder-closed:before {
  content: "\e923";
}
.icon-ic-folder-open:before {
  content: "\e924";
}
.icon-ic-foward:before {
  content: "\e925";
}
.icon-ic-good:before {
  content: "\e926";
}
.icon-ic-googledrive:before {
  content: "\e927";
}
.icon-ic-group:before {
  content: "\e928";
}
.icon-ic-help:before {
  content: "\e929";
}
.icon-ic-in:before {
  content: "\e92a";
}
.icon-ic-info:before {
  content: "\e92b";
}
.icon-ic-laptop:before {
  content: "\e92d";
}
.icon-ic-line:before {
  content: "\e92e";
}
.icon-ic-maximize:before {
  content: "\e92f";
}
.icon-ic-mic-off:before {
  content: "\e930";
}
.icon-ic-mic-on:before {
  content: "\e931";
}
.icon-ic-minimize:before {
  content: "\e932";
}
.icon-ic-more:before {
  content: "\e933";
}
.icon-ic-open-smile:before {
  content: "\e934";
}
.icon-ic-out:before {
  content: "\e935";
}
.icon-ic-private:before {
  content: "\e939";
}
.icon-ic-right:before {
  content: "\e93a";
}
.icon-ic-rotate:before {
  content: "\e93b";
}
.icon-ic-s-angle-down:before {
  content: "\e93c";
}
.icon-ic-s-angle-left:before {
  content: "\e93d";
}
.icon-ic-s-angle-right:before {
  content: "\e93e";
}
.icon-ic-s-angle-up:before {
  content: "\e940";
}
.icon-ic-smartphone:before {
  content: "\e941";
}
.icon-ic-smile:before {
  content: "\e942";
}
.icon-ic-thread:before {
  content: "\e943";
}
.icon-ic-upload:before {
  content: "\e944";
}
.icon-ic-user-add:before {
  content: "\e945";
}
.icon-ic-user-white:before {
  content: "\e946";
}
.icon-ic-user:before {
  content: "\e949";
}
.icon-ic-block:before {
  content: "\e976";
}
.icon-ic-view:before {
  content: "\e94a";
}
.icon-ic-votebox:before {
  content: "\e99f";
}
.icon-ic-volume-down:before {
  content: "\e94e";
}
.icon-ic-volume-up:before {
  content: "\e94f";
}
.icon-ic-window-maximize:before {
  content: "\e951";
}
.icon-ic-window-minimize:before {
  content: "\e952";
}
.icon-ic-window:before {
  content: "\e953";
}
.icon-ic-zoom-in:before {
  content: "\e954";
}
.icon-ic-zoom-out:before {
  content: "\e99d";
}
.icon-ic-arrow-fold-right:before {
  content: "\e9a0";
}
.icon-ic-arrow-fold-left:before {
  content: "\e9a1";
}
.icon-ic-clock-recent:before {
  content: "\e950";
}
.icon-ic-task:before {
  content: "\ea23";
}
.icon-ic-news:before {
  content: "\ea25";
}
.icon-ic-empty:before {
  content: "\ea27";
}
