// 잔디 레드마인 컬러셋
$mainColor: #00c473;
$subColor: #69a7f3;

$black: #000000;
$white: #ffffff;

$gray10: #fafbfc;
$gray10hover: #f1f2f4;
$gray20: #f2f4f8;
$gray20hover: #e9ecf0;
$gray30: #eceef1;
$gray30hover: #e4e6e9;
$gray40: #e6e8eb;
$gray40hover: #dee0e4;
$gray50: #dadde1;
$gray50hover: #d2d6da;

$text: #333;
$textHover: #343435;
$gray: #a2a2a2;
$grayHover: #9d9e9e;
$darkGray: #757575;
$darkGrayHover: #737374;
$disabled: #d5d5d5;
$disabledHover: #cececf;
$placeholder: #c2c2c2;

$border: #dcdfe5;

$favorite: #f9bb00;
$link: #438fff;
$warning: #ff5c48;
$warningHover: #f65b49;
$scrim: #0e111a;
