@use "jniuiColorSet" as *;
@use "font-icon" as *;
@media screen and (max-width: 899px) {
  body p.buttons a,
  body .other-formats > span a,
  body #wiki_add_attachment > p a,
  body #content > .contextual a,
  body #content > .contextual > span a,
  body #query_form > .contextual a,
  body #query_form_with_buttons > .contextual a {
    background-color: $white;
    color: $text;
  }

  .breadcrumbs {
    display: none;
  }
  #topmenu-nav {
    width: calc(100% - 54px);
    z-index: 10000;
    height: 54px;
    padding: 9px 16px;

    &:before {
      display: none;
    }

    #quick-search {
      display: none;
    }

    .drdn-content .quick-search input {
      font-size: 14px;
      line-height: 20px;
    }
  }

  #wrapper {
    #header {
      background-color: $white;
      border-bottom: 1px solid $border;
      height: 55px;
      h1 {
        display: block !important;
        font-size: 0;
        line-height: normal;
      }
      .mobile-toggle-button {
        position: absolute;
        right: 0;
        top: 0;
        color: $text;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      #project-jump {
        font-size: 24px;
        line-height: 32px;
        line-height: 1;
        .drdn-trigger {
          font-size: 18px;
          line-height: 26px;
          width: auto;
          height: auto;
          margin: 0;
          padding: 0;
          color: $text;
          display: inline-flex;
          align-items: center;
          font-weight: bold;
          &:before {
            order: 2;
            font-weight: normal;
            top: 0;
            width: auto;
            font-size: 16px;
            line-height: 16px;
            margin-right: 0px;
            margin-left: 8px;
            color: $text;
          }
          &:after {
            font-size: 24px;
            margin-left: 4px;
          }
          &:hover {
            background-color: initial;
          }
        }
        &.drdn {
          height: auto;
          padding: 0;
          position: static;
        }

        &.expanded {
          .drdn-trigger {
            background-color: initial;
          }
        }

        .drdn-content {
          top: 54px;
          max-width: 100%;
          border-radius: 0 0 8px 8px;
        }
      }
    }

    .flyout-menu {
      background-color: $white;
      // border-left: 1px solid $gray20;
      .flyout-menu__search {
        padding: 8px 10px;
        position: relative;
        // border-bottom: 1px solid $border;
        // border-left: 1px solid $border;
        // height: 55px;
        &:after {
          content: "\e960";
          font-family: "icomoon";
          position: absolute;
          font-size: 16px;
          left: 20px;
          top: 20px;
          color: $disabled;
        }
        input[type="text"] {
          font-size: 14px;
          line-height: 20px;
          color: $text;
          padding-right: 8px;
          padding-left: 30px;
          background-position: 8px center;
          background-size: 16px 16px;
          height: 40px;
          border: 1px solid $border;
          border-radius: 6px;

          background-image: none;

          &:placeholder {
            color: $disabled;
          }
          &:-webkit-autofill {
            background-color: #fff !important;
            color: #333 !important;
            -webkit-box-shadow: 0 0 0px 1000px white inset;
            transition: background-color 5000s ease-in-out 0s;
          }
        }
      }
      a {
        color: $text;
      }
      ul {
        padding: 0 10px;
        li {
          a {
            padding: 11px 8px;
            font-size: 15px;
            line-height: 22px;
            border-radius: 6px;
            &.selected {
              background-color: $gray20;
            }
          }
        }
      }
    }

    .mobile-toggle-button {
      &:after {
        content: "\e957";
        font-family: "icomoon";
        font-size: 24px;
        line-height: 24px;
        margin-top: 0;
        -webkit-font-smoothing: antialiased;
      }
    }

    .js-flyout-menu {
      h3 {
        background-color: $white;
        font-size: 14px;
        line-height: 20px;
        color: $gray;
        padding: 10px 18px 6px;
        margin: 0;
        font-weight: bold;
        border: 0;
      }
      .js-profile-menu {
        display: none;
      }

      .js-project-menu {
        border-bottom: 1px solid $border;
        margin-bottom: 8px;
        padding-bottom: 8px;
        display: block;
      }

      .js-general-menu {
        display: block;
      }

      .flyout-menu__sidebar {
        display: none;
      }
    }

    .flyout-menu__avatar {
      padding: 0 16px;
      height: 52px;
      margin-top: 0;
      display: flex;
      align-items: center;
      a {
        &:first-child {
          display: flex;
          align-items: center;
          justify-content: center;
          width: auto;
        }
      }
      img {
        width: 32px;
        height: 32px;
        border: 1px solid $border;
        box-sizing: border-box;
        border-radius: 50%;
        object-fit: cover;
      }
      .user {
        padding: 0;
        margin-left: 8px;
      }
    }

    #main {
      #content {
        position: relative;
        padding: 16px 16px 24px;
      }
    }

    .pagination {
      flex-direction: column;
      gap: 8px 0;
      align-items: flex-start;
      float: none;
      .pages {
        display: flex;
      }
    }

    .other-formats {
      span {
        margin-bottom: 0;
        a {
          margin-bottom: 0;
        }
      }
    }

    #query_form {
      .buttons {
        a {
          display: inline-flex;
          align-items: center;
          border-radius: 6px;
        }
      }
    }

    .autoscroll table {
      min-width: 1024px;
    }
  }

  html {
    &.flyout-is-active {
      #wrapper {
        .mobile-toggle-button:after {
          content: "\e916";
        }
        &:after {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba($scrim, 0.2);
          z-index: 10;
          content: "";
          display: block;
        }
      }
    }
  }

  #content {
    #issue_tree,
    #relations {
      > form[data-cm-url] {
        overflow: auto;
      }
      .contextual {
        position: absolute;
        right: 0;
      }
    }

    #relations {
      .new_relation {
        p {
          flex-wrap: wrap;
        }
      }
    }
    #issue_tree .issue > td:not(.subject),
    #relations .issue > td:not(.subject) {
      width: auto;
    }

    #issue_tree .issue > td:not(.checkbox),
    #relations .issue > td:not(.checkbox) {
      display: table-cell;
      float: none;
    }
    #issue_tree .list,
    #relations .list {
      width: 1024px;
    }

    #issue_tree .issue > td.buttons,
    #relations .issue > td.buttons {
      position: static;
    }
    .jstTabs.tabs ul {
      flex-wrap: wrap;
    }
  }

  #main {
    #content {
      .tab-elements {
        flex: auto;
        margin-left: 0;
        gap: 4px;
      }
    }
  }
  #footer {
    padding: 20px 16px;
    border-top: 0;
  }

  // 페이지별 스타일 분기

  .controller-search {
    #search-form {
      margin-bottom: 77px;
      .box {
        > p {
          flex-wrap: wrap;
          align-items: flex-start;
        }
      }
      select,
      input[type="text"] {
        width: 100%;
        margin-right: 0;
      }

      > p:last-child {
        bottom: -50px;
        width: 100%;
        input[type="submit"] {
          min-height: 40px;
          width: 100%;
          display: block;
          font-size: 15px;
          line-height: 22px;
          font-weight: bold;
        }
      }
    }

    #search-results {
      .icon {
        a {
          flex-wrap: wrap;
        }
      }
      dt {
        margin-top: 16px;
      }
      dd {
        margin: 0;
        padding-left: 20px;
        padding-bottom: 24px;
        border-bottom: 1px solid $border;
        &:last-child {
          border-bottom: 0;
          padding-bottom: 0;
        }
      }
    }

    #content {
      > .buttons {
        .icon-list {
          display: flex;
          align-items: center;
          background-color: $white;
          color: $text;
          justify-content: center;
          padding-top: 7px;
          padding-bottom: 7px;
        }
        .icon-label {
          font-size: 14px;
          line-height: 20px;
          font-weight: bold;
          display: block;
        }
      }
    }
  }

  .controller-issues {
    #content {
      > .contextual {
        margin-bottom: 0 !important;
        .icon-time-add,
        .icon-fav-off,
        .icon-fav,
        .icon-copy,
        .drdn {
          display: none;
        }

        .icon-edit {
          min-height: auto;
          display: block;
          border: 0;
          border-radius: 0;
          padding: 0;
          margin-left: auto;
          &:before {
            color: $text;
            font-size: 24px;
            line-height: 24px;
            margin-right: 0;
          }
          &:hover {
            background-color: initial;
          }
          .icon-label {
            display: none;
          }
        }

        ~ .contextual {
          display: none;
        }
      }

      > h2 {
        font-size: 18px;
        line-height: 26px;
      }

      .attachments {
        table {
          td:nth-child(2),
          td:nth-child(3) {
            display: none;
          }
          td:first-child {
            width: 100%;
            text-align: left;
            text-align-last: justify;
          }
          .icon-attachment {
            display: inline-flex;
            width: calc(100% - 42px);
            .icon-label {
              margin-left: 0;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              min-width: 0;
            }
            &::before {
              display: none;
            }
          }
          .icon-download {
            display: inline-flex;
            padding: 0;
            margin-left: auto;
            width: 32px;
            height: 32px;
            justify-content: center;
            align-items: center;
            &:before {
              margin-right: 0;
            }
            .icon-label {
              margin-left: 0;
              display: none;
            }
          }
        }
      }

      #issue_tree .issues,
      #relations .issues {
        border-collapse: collapse;
      }
    }
    #options {
      display: none;
    }

    #filters-table {
      .filter {
        flex-wrap: wrap;
        .field {
          width: 100%;
          margin-bottom: 8px;
        }
      }
    }
    #query_form_content + .buttons {
      a:last-child {
        display: none !important;
      }
    }
    .add-filter {
      flex-wrap: wrap;
      label[for="add_filter_select"] {
        width: 100%;
        margin-bottom: 8px;
      }
    }

    .tabular input[type="checkbox"] {
      width: 16px;
      max-width: initial;
    }

    .next-prev-links {
      display: none;
    }

    #attributes .splitcontentleft p:has(label[for="issue_assigned_to_id"]),
    #attributes .splitcontentleft p:last-child {
      display: block;
    }

    &.action-new,
    &.action-show {
      #content {
        > .contextual {
          position: absolute;
          right: 16px;
          top: 20px;
          width: auto;
        }
        > .flash + .contextual {
          top: 77px;
        }
      }
      .assign-to-me-link {
        margin-left: 0;
        margin-top: 8px;
        display: inline-block;
      }
      .splitcontentright {
        p {
          display: block;
        }
      }
      #all_attributes #issue_tracker_id {
        width: 100%;
      }

      #update {
        position: relative;
        padding-top: 16px;
        margin-top: 4px;
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: -16px;
          width: calc(100% + 32px);
          height: 8px;
          background-color: $gray20;
        }
        #log_time,
        #add_notes,
        #add_attachments {
          position: relative;
          padding-top: 25px;
          margin-top: 42px;
          &::before {
            content: "";
            display: block;
            position: absolute;
            top: -40px;
            left: -16px;
            width: calc(100% + 32px);
            height: 8px;
            background-color: $gray20;
          }
        }

        #add_attachments {
          .attachments_fields input {
            width: 100%;
            margin-bottom: 8px;
          }
          #existing-attachments {
            clear: both;
            margin-top: 45px;
            span {
              input[type="text"] {
                width: 60%;
              }
            }
          }
        }

        #new-attachments {
          width: 100%;
        }
      }

      #all_attributes #issue_tracker_id {
        width: 100%;
      }
    }

    &.action-new {
      #watchers_form #watchers_inputs {
        label {
          width: calc(33% - 16px);
        }
      }
      .attachments_form {
        .icon-attachment {
          margin-bottom: 8px;
        }
      }
    }

    &.action-index {
      #content {
        > .contextual {
          display: flex;
          margin-bottom: 0;
          .drdn {
            display: none;
          }
          .new-issue {
            margin: 0;
            width: 24px;
            height: 24px;
            min-height: 24px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $white;
            position: absolute;
            right: 16px;
            top: 22px;
            border: 0;
            .icon-label {
              font-size: 0;
              &:before {
                margin-right: 0;
                color: $text;
                font-size: 18px;
              }
            }
          }
        }
      }
      #wrapper {
        #query_form_with_buttons {
          .buttons {
            display: flex;
            align-items: center;
            gap: 0 8px;
            a {
              margin: 0;
              padding-top: 7px;
              padding-bottom: 7px;
              border-radius: 6px;
            }
            .icon-checked {
              flex-grow: 1;

              justify-content: center;
            }
            .icon-reload {
              width: 36px;
              height: 36px;
              &:before {
                margin-right: 0;
              }
              .icon-label {
                display: none;
              }
            }
            .icon-edit {
              display: none;
            }
            .icon-del {
              display: none;
            }
            .icon-save {
              display: none;
            }
          }
        }
      }
    }

    .issue.details .attachments:not(.box) .contextual {
      top: -42px;
    }

    input[type="submit"] {
      display: block;
      height: 40px;
      text-align: center;
      font-size: 15px;
      line-height: 22px;
      font-weight: bold;
      &[name="commit"] {
        width: 100%;
        color: $white;
        background-color: $text;
        margin-bottom: 8px;
        + a {
          height: 40px;
          text-align: center;
          font-size: 15px;
          line-height: 40px;
          font-weight: bold;
          color: $text;
          border-radius: 6px;
          border: 1px solid $border;
          background-color: $white;
          display: block;
          width: 100%;
          margin: 0 !important;
        }
      }

      &[name="continue"] {
        width: 100%;
        color: $text;
        border: 1px solid $border;
        border-radius: 6px;
      }
    }
  }

  .controller-projects {
    #content {
      > .contextual {
        display: none;
      }
    }
    #filters-table {
      .filter {
        flex-wrap: wrap;
        .field {
          width: 100%;
          margin-bottom: 8px;
        }
      }
    }
    .add-filter {
      flex-wrap: wrap;
      label[for="add_filter_select"] {
        width: 100%;
        margin-bottom: 8px;
      }
    }
    #wrapper {
      #query_form_with_buttons {
        .buttons {
          display: flex;
          align-items: center;
          gap: 0 8px;
          a {
            margin: 0;
            padding-top: 7px;
            padding-bottom: 7px;
          }
          .icon-checked {
            flex-grow: 1;
            border-radius: 6px;
            justify-content: center;
          }
          .icon-reload {
            width: 36px;
            height: 36px;
            &:before {
              margin-right: 0;
            }
            .icon-label {
              display: none;
            }
          }
          .icon-edit {
            display: none;
          }
          .icon-del {
            display: none;
          }
          .icon-save {
            display: none;
          }
        }
      }
    }

    .splitcontentleft {
      .issues {
        > p:last-child {
          font-size: 0;
          a {
            display: inline-block;
          }
          a:nth-child(3),
          a:last-child {
            display: none;
          }
        }
      }
      .spent_time {
        margin-bottom: 16px;
        > p:last-child {
          display: none;
        }
      }
    }
  }

  .controller-users {
    #content {
      > .contextual {
        display: none;
      }
    }
  }

  .controller-calendars {
    #query_form_with_buttons .contextual.pagination {
      bottom: 0;
      position: static;
      align-items: flex-end;
      a {
        border: 0;
      }
      li {
        width: auto;
      }
    }
    #filters-table .filter {
      flex-wrap: wrap;
      .field {
        margin-bottom: 8px;
      }
    }
    .add-filter {
      flex-wrap: wrap;
      label[for="add_filter_select"] {
        width: 100%;
        margin-bottom: 8px;
      }
    }
  }

  .controller-attachments {
    #content {
      .issue {
        display: none;
      }
      input[type="submit"] {
        display: block;
        height: 40px;
        text-align: center;
        font-size: 15px;
        line-height: 22px;
        font-weight: bold;
        &[name="commit"] {
          width: 100%;
          color: $white;
          background-color: $text;
          margin-bottom: 8px;
          + a {
            height: 40px;
            text-align: center;
            font-size: 15px;
            line-height: 40px;
            font-weight: bold;
            color: $text;
            border-radius: 6px;
            border: 1px solid $border;
            display: block;
            width: 100%;
            margin: 0 !important;
          }
        }
      }

      .attachments {
        table {
          width: 100%;
        }
        tr[id^="attachment-"] {
          display: flex;
          flex-direction: column;
          td {
            display: block;
            input {
              width: 100% !important;
            }
          }
        }
      }

      .contextual {
        .icon-download {
          color: $gray;
          min-height: 36px;
          padding: 0 10px;
          display: inline-flex;
          align-items: center;
          border-radius: 6px;
          border: 1px solid $border;
          font-size: 14px;
          line-height: 15px;
          font-weight: bold;
          &:before {
            font-size: 16px;
            line-height: 16px;
            color: $gray;
            margin-right: 4px;
            font-family: "icomoon";
            content: "\e91e";
            display: block;
          }
        }
      }
    }
  }

  .controller-news {
    #content {
      > .contextual {
        display: none;
      }
      > h2 {
        display: flex;
        align-items: center;
      }
    }
    .attachments:not(.box) {
      .icon-download {
        color: $gray;
      }
    }
  }

  .pagination ul.pages li.current,
  .pagination ul.pages li.previous,
  .pagination ul.pages li.next {
    width: auto;
  }

  #issue_tree .issue > td.buttons,
  #relations .issue > td.buttons {
    padding-right: 16px;
  }

  .controller-issues.action-create .box > fieldset,
  .controller-issues.action-new .box > fieldset,
  .controller-issues.action-show .box > fieldset,
  .controller-issues.action-edit .box > fieldset {
    padding: 0;
    background-color: $white;
  }

  .controller-issues.action-create .tabular,
  .controller-issues.action-new .tabular,
  .controller-issues.action-show .tabular,
  .controller-issues.action-edit .tabular {
    padding: 0;
    background-color: $white;
  }

  .ui-dialog.ui-widget-content {
    padding: 24px 20px;
    top: auto !important;
    bottom: 0;
    max-width: 100%;
    width: 100% !important;
    margin: 0;
    left: 0 !important;
    position: fixed;
  }
}

@media all and (max-width: 599px) {
  .pagination ul.pages li.current,
  .pagination ul.pages li.previous,
  .pagination ul.pages li.next {
    width: auto !important;
  }
}
